.search {
  background: #356b6f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(to bottom, #42a7ad, #356b6f);
  background-repeat: repeat-x;
  border-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
