.matero-header {
  --mat-toolbar-container-background-color: transparent;

  position: relative;
  z-index: 3;
  min-height: 64px;
  display: block;
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 35%, #cfcfcf 100%);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  color: #4a4a4a;
}
